<nav class="navbar navbar-dark bg-primary ">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 ml-4">
    <a class="navbar-brand " href="#">
      Technical Test Enquire
    </a>
  </div>

</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">

        <div class="card mt-4">
          <div class="card-body">
            <div class="card-title">
              <h3>Insert the text you want to search for among the articles</h3>
            </div>
            <div class="form-group">
              <input type="text" id="dna" [(ngModel)]="dnaString" placeholder="Insert text">
            </div>
            <button (click)="enviarAdn()"  class="btn btn-primary mt-2">
              Search
            </button>
            <div class="mt-2">
              <div class="box">
                <div class="left-section">
                  <h3>Search result: </h3>
                  <h6>{{ resultado.answer }}</h6>
                </div>
                <div class="right-section">
                  <ul>
                    <h3>Matches found in the articles: </h3>
                    <li *ngFor="let source of resultado.sources">
                      <h6>Page Content: {{ source.pageContent }}</h6>
                      <p>Source: {{ source.source }}</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>

      </ul>
    </div>
    <div class="col-md-4">
      <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
  </div>
</div>
